/vendor/

app/env.php

app/map.php
app/reminders/*.json
!app/reminders/example-*.json

errors.txt
micrologs.txt

app/build/*.php
!app/build/example.php

app/templates/*.html
!app/templates/example.html

/tests/

.codex
